// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Mixins //
@mixin title-banner {
  color: white;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 15px #888888;
  text-align: center;
  font-variant: small-caps;
  letter-spacing: 2px;
}


body {
  background-color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  //line-height: 0px;
}

// Title //

#title {
  @include title-banner;
  background-color: #009688; // Verde Petróleo 500 - Google Material Design Pallete
  font-size: 80px;
  z-index: 10;
  
  p{ line-height: 0px;}
}

#alert {
  @include title-banner;
  background-color: #D50000; // Vermelho A700 - Google Material Design Pallete
  font-size: 30px;
  z-index: 11;
}

#notice {
  @include title-banner;
  background-color: #FFCA28; // Âmbar 400 - Google Material Design Pallete
  font-size: 30px;
  z-index: 11;
}

#hmenu {
  display: none;
}


// BEGIN OF MENU //
#menu {
  position: relative;
  top: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  background-color: #FFFFFF; //Branco 0 - Google Material Design Pallete
  width: 800px;
  height: auto;
  box-shadow: 0px 0px 5px #455A64;
/*    
  input {
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    letter-spacing: 2px;
    background-color: #FFFFFF; //Branco 0 - Google Material Design Pallete
    width: 800px;
    height: 80px;
    border: 0;
    font-size: 30px;
    
    &:hover {
      background-color: #CFD8DC; //Cinza azulado 100 - Google Material Design Pallete
    }
  }
  
  .button_to {
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    height: 80px;
  } */
  
  a {
    display: block;
    width: 800px;
    padding-top: 35px;
    text-align: center;
    text-decoration: none;
  }
  
  .button-link {
    letter-spacing: 2px;
    background-color: #FFFFFF; //Branco 0 - Google Material Design Pallete
    border: 0;
    color: black;
    height: 60px;
    font-size: 30px;
    
    &:hover {
      background-color: #CFD8DC; //Cinza azulado 100 - Google Material Design Pallete
    }
  }
}
// END OF MENU //
  

// BEGIN OF FOOTER //
#footer {
  display:none;
  
  /*padding-top: 250px;
  padding-bottom: 20px;
  bottom: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 70px;
  text-align: center;
  font-variant: small-caps;
  font-size: 15px;
  
  a {
    text-decoration: none;
    color: black;
  }*/

  #image2 img {
    width: 25px;
    height: 25px;
  }
}
// END OF FOOTER //

// BEGIN OF CONTENTS //
#contents {
  
  // BEGIN OF PAPER-BIG //
  #paper {
    position: relative;
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: #FFFFFF; //Branco 0 - Google Material Design Pallete
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px #455A64;
    //display: inline-block;
    
    
    input {
      color: white;
      letter-spacing: 2px;
      background-color: #4DB6AC; //Verde Petróleo 500 - Google Material Design Pallete
      width: 280px;
      height: 60px;
      border: 0;
      font-size: 35px;
      
      &:hover {
        background-color:#26A69A; //Verde Petróleo 400 - Google Material Design Pallete
      }
    }
    
    .button_to {
      display: inline;
      
      div {
        display: inline;
      }
    }
    
    // BEGIN OF GENERIC TABLE //
    table {
      width: 100%;
      text-align: center;
      padding: 5px;
      border-collapse: collapse;
      padding-top: 100px;
      margin-left: auto;
      margin-right: auto;
      
      // BEGIN OF GENERIC THEAD //
      thead {
        color: #424242;  //Cinza 800 - Google Material Design Pallete
        line-height: 60px;
        font-size: 15px;
      }
      // END OF GENERIC THEAD //
      
      // BEGIN OF TABLE DATA //
      .data {
        color: #757575; //Cinza 600 - Google Material Design Pallete
        
        a {
          color: #00BFA5; //Verde Petróleo 400 - Google Material Design Pallete
        }
        
        tr {
          height: 30px;
          
          &:nth-child( odd ) {
            background: #F5F5F5; //Cinza 100 - Google Material Design Pallete
          }
        }
        
        td { 
          min-width: 350px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      // END OF TABLE DATA //
      
      // BEGIN OF TABLE COMMANDS //
      .commands tr {
        height: 60px;
      }
      // END OF TABLE COMMANDS //
      
      img {
        position: relative;
        width: 100px;
        height: 100px;
      }
      
      
    }
    // END OF GENERIC TABLE //
  }
  // END OF PAPER-BIG //
  
  
  // BEGIN OF FIXME //
  .comm3 {
    width: 350px;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
  }
  
  .thead3 {
    color: #424242;  //Cinza 800 - Google Material Design Pallete
    line-height: 60px;
    font-size: 15px;
  }
  
  .tbody3 {
    color: #757575; //Cinza 600 - Google Material Design Pallete
    
    a {
      color: #00BFA5; //Verde Petróleo 400 - Google Material Design Pallete
    }
    
    tr {
      height: 30px;
    }
    
    tr:nth-child( odd ) { 
      background: #F5F5F5; //Cinza 100 - Google Material Design Pallete
    }
    
    td {
      width: 150px;
    }
  }
  
  .spacer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    height: 10px;
  }

  #formy {
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    top: 190px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF; //Branco 0 - Google Material Design Pallete
    box-shadow: 0px 0px 5px #888888;
    width: 700px;
    
    // BEGIN OF FORM //
    form {
      margin-left: auto;
      margin-right: auto;
      width: 600px;
    
      .inputcheck {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        height: 60px;
        font-size: 30px;
        
        input[type="checkbox"] {
          display: none;
          
          + label span {
            display: inline-block;
            width: 60px;
            height: 60px;
            margin: -1px 4px 0 0;
            vertical-align: middle;
            background: url( /assets/unchecked.svg ) left top no-repeat;
            background-size: 60px 60px;
            background-repeat: no-repeat;
            cursor: pointer;
          }
          
          &:checked + label span {
            background: url( /assets/checked.svg ) 0px top no-repeat;
            background-size: 60px 60px;
            background-repeat: no-repeat;
          }
        }
      }

      #commands {
        margin-left: 20%;
        
        input[type="submit"] {
          color: white;
          letter-spacing: 2px;
          background-color: #4DB6AC; //Verde Petróleo 500 - Google Material Design Pallete
          width: 130px;
          height: 30px;
          border: 0;
          
          &:hover{
            background-color:#26A69A; //Verde Petróleo 400 - Google Material Design Pallete
          }
        }
      }
      
// SPECIAL BUTTON FOR LOGIN PAGE
      #login {
        color: white;
        letter-spacing: 2px;
        background-color: #009688; //Verde Petróleo 500 - Google Material Design Pallete
        width: 600px;
        height: 100px;
        border: 0;
        border-radius: 3px;
        font-size: 40px;
        &:hover {
          background-color:#26A69A; //Teal 400 - Google Material Design Pallete
        }
      }
      
      input {
        margin-bottom: 10px;
        
        &[type="email"], &[type="password"], &[type="text"]{
          background-color: #FFFFFF;
          padding-left: 10px;
          width: 600px;
          height: 100px;
          border: 1px solid gray;
          letter-spacing: 2px;
          font-size: 40px;
        }
      }

      textarea {
        width: 252px;
        height: 150px;
        border: 1px solid #BDBDBD; //Cinza 400 - Google Material Design Pallete
        resize: none;
        padding: 5px 10px 5px 10px;
        
        &:focus {
          background-color: #FAFAFA; //Cinza 50 - Google Material Design Pallete
        }
      }
      select {
        background-color: #FFFFFF;
        width: 272px;
        height: 43px;
        border: 1px solid #BDBDBD;
        letter-spacing: 2px;
        margin-bottom: 10px;
        
        &:focus {
          background-color: #FAFAFA; //Cinza 50 - Google Material Design Pallete
        }
      
    }
    }
    // END OF FORM //
    
    #image {
      padding-top: 10px;
      padding-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      width: 252px;
      height: 180px;
      
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
// END OF CONTENTS //
