
<div id="paper">
  <table>
    <% unless @commissioning.activities.empty? %>
      <thead>
        <tr>
          <th>Last 5 Activities</th>
        </tr>
      </thead>

      <tbody class="data">
        <% for a in @commissioning.activities %>
          <tr>
            <td><%= link_to a.label, activity_path( a.id ) %></td>
          </tr>
        <% end %>
      </tbody>
    <% else %>
      <tr>
        <td>
          <h3>No activities.</h3>
        </td>
      </tr>
    <% end %>
    
    <tbody class="commands">
      <tr>
        <td>
          <%= button_get "Create new activity", new_activity_path %>
          <%= button_get "View all activities", activities_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
