/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}

#title{
  background-color: #009688; /*Cerceta 500 - Google Material Design Pallete*/
  color: white;
  top: 0px;
  left:0px;
  padding-top: 30px;
  position: fixed;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 15px #888888;
  text-align: center;
  font-variant: small-caps;
  font-size: 35px;
  letter-spacing: 2px;
}

#login{
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; /*Branco 0 - Google Material Design Pallete*/
  box-shadow: 0px 0px 5px #455A64;
  width: 355px;
  height: 252px;
  box-shadow: 0px 0px 5px #888888;
}

.spacer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
  height: 10px;
}

#login .input{
  margin-left: auto;
  margin-right: auto;
  width: 274px;
  height: 43px;
}

#login .input .text{
  background-color: #FFFFFF;
  padding-left: 10px;
  width: 261px;
  height: 43px;
  border: 1px solid gray;
  letter-spacing: 2px;
}

#login .button{
  color: white;
  letter-spacing: 2px;
  background-color: #009688; /*Cerceta 500 - Google Material Design Pallete*/
  width: 274px;
  height: 43px;
  border: 0;
  border-radius: 3px;
}

#login .button:hover{
  background-color:#26A69A; /*Teal 400 - Google Material Design Pallete*/
}

#login #image{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 50px;
}

#login #image img{
  width: 70px;
  height: 50px;
}

#footer{
  bottom: 0px;
  left:0px;
  position: fixed;
  width: 100%;
  height: 100px;
  text-align: center;
  font-variant: small-caps;
  font-size: 15px;
}

#image2 img{
  width: 50px;
  height: 50px;
}

/* admin page */

#menu{
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; /*Branco 0 - Google Material Design Pallete*/
  width: 274px;
  height: auto;
  box-shadow: 0px 0px 5px #455A64;
}

#menu input{
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  letter-spacing: 2px;
  background-color: #FFFFFF; /*Branco 0 - Google Material Design Pallete*/
  width: 274px;
  height: 43px;
  border: 0;
}


#menu .button_to{ 
  margin-left: auto;
  margin-right: auto;
  width: 274px;
  height: 43px;
}

/* 
Se houver bugs com a classe acima, mudar os html da classe input para button_to
*/

#menu input:hover{
  background-color:#CFD8DC; /*Cinza azulado 100 - Google Material Design Pallete*/
}

/* user-edit page */

#edit-menu{
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; /*Branco 0 - Google Material Design Pallete*/
  width: 274px;
  height: 255px;
  box-shadow: 0px 0px 5px #455A64;
}

#edit-menu .input{
  margin-left: auto;
  margin-right: auto;
  width: 274px;
  height: 43px;
}

#edit-menu .input input{
  background-color: #FFFFFF;
  padding-left: 10px;
  width: 274px;
  height: 43px;
  letter-spacing: 2px;
}

#edit-menu input:hover{
  background-color:#FAFAFA; /*Cerceta 400 - Google Material Design Pallete*/
}

#edit-menu select{
  background-color: #FFFFFF;
  padding-left: 10px;
  width: 274px;
  height: 43px;
  letter-spacing: 2px;
}

#edit-menu select:hover{
  background-color:#FAFAFA; /*Cerceta 400 - Google Material Design Pallete*/
}

#edit-menu button{
  color: white;
  letter-spacing: 2px;
  background-color: #009688; /*Cerceta 500 - Google Material Design Pallete*/
  width: 274px;
  height: 43px;
  border: 0;
}

#edit-menu button:hover{
  background-color:#26A69A; /*Cerceta 400 - Google Material Design Pallete*/
}

/* Comissionings page */

#paper-big{
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; /*Branco 0 - Google Material Design Pallete*/
  width: 600px;
  height: auto;
  box-shadow: 0px 0px 5px #455A64;
}


table.comm {
    margin-left:auto; 
    margin-right:auto;
    width: 600px;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
  }
  
#paper-big input{
  color: white;
  letter-spacing: 2px;
  background-color: #4DB6AC; /*Cerceta 500 - Google Material Design Pallete*/
  width: 180px;
  height: 30px;
  border: 0;
  }
  
#paper-big input:hover{
  background-color:#26A69A; /*Cerceta 400 - Google Material Design Pallete*/
}
  
table .thead{
  color: #424242;  /*Cinza 800 - Google Material Design Pallete*/
  line-height: 60px;
  font-size: 15px;
  }
  
table .tbody td {
  width: 150px;
}

table .tbody{
  color: #757575; /*Cinza 600 - Google Material Design Pallete*/
  }

table .tbody a{
  color: #00BFA5; /*Cerceta 400 - Google Material Design Pallete*/
  }
  
  table .tbody tr {
  height: 30px;
  }
  
  
  

table .tbody tr:nth-child(odd){ 
  background: #F5F5F5; /*Cinza 100 - Google Material Design Pallete*/
  
	}


table .tbody2 tr{
  height: 60px;
}




#paper-big .button_to{
    display: inline;
}

#paper-big .button_to div{
  display: inline;
}
